{# file: roles/dynect_dane_records/templates/dyn_credentials.j2
#}
dynect_api_url='{{ dynect_api_url }}'
dynect_customer='{{ dynect_customer }}'
dynect_api_user='{{ dynect_api_user }}'
dynect_api_password='{{ dynect_api_password | regex_replace("'", "'\"'\"'") }}'
