{# file: roles/certbot_standalone/templates/certbot_renewal.service.j2 #}
[Unit]
Description=Certbot certificate renewal
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/certbot_renewal

[Install]
WantedBy=multi-user.target
