#!/usr/bin/env bash

#
# https://wiki.jenkins-ci.org/display/JENKINS/Administering+Jenkins
#

TIMESTAMP="$(date -u +'%FT%H%MZ')"
DBNAME="jenkins_$(hostname)"
BACKUP="${DBNAME}_${TIMESTAMP}.tgz"
JENKINS_HOME="{{ jenkins_home | mandatory }}"

cd "${JENKINS_HOME}/backups/"
umask 077

nice -n 19 tar --exclude-from="$JENKINS_HOME/jenkins_backup_excludes"\
 -czf ${BACKUP} $JENKINS_HOME

EXITVALUE=$?
if [ $EXITVALUE -ne 0 ]; then
    logger -t jenkins_backup\
     "ALERT tar exited with [$EXITVALUE] for data set ${DBNAME}"
    exit $EXITVALUE
fi

#
# Generate a random password:
#
openssl rand -base64 {{ backup_password_bytes | mandatory }}\
 > ${DBNAME}_${TIMESTAMP}.pass.txt

ALGO=aes-256-cbc

#
# Encrypt the backup archive with the password:
#
nice -n 19 openssl enc -${ALGO}\
 -pass file:${DBNAME}_${TIMESTAMP}.pass.txt -in ${BACKUP} -out ${BACKUP}.${ALGO}
EXITVALUE=$?
if [ $EXITVALUE -eq 0 ]; then
    nice -n 19 shred --iterations=25 --remove --force --zero ${BACKUP}
else
    logger -t jenkins_backup\
     "ALERT openssl enc exited with [$EXITVALUE] for data set ${DBNAME}"
    exit $EXITVALUE
fi

#
# Encrypt the password file with the backup service public key:
#
nice -n 19 openssl pkeyutl -encrypt\
 -pubin -inkey "{{ backup_keys_path | mandatory }}/backup-service-public.pem"\
 -in ${DBNAME}_${TIMESTAMP}.pass.txt\
 -out ${DBNAME}_${TIMESTAMP}.pass.txt.enc
EXITVALUE=$?
if [ $EXITVALUE -eq 0 ]; then
    nice -n 19 shred --iterations=25\
     --remove --force --zero ${DBNAME}_${TIMESTAMP}.pass.txt
else
    logger -t jenkins_backup\
     "ALERT openssl pkeyutl exited with [$EXITVALUE] for data set ${DBNAME}"
    exit $EXITVALUE
fi

#
# The administrative user account has the access keys to Hetzner backup space.
#
OUTBOX="/home/{{ admin_username }}/backups"
mkdir -p ${OUTBOX}
mv *.pass.txt.enc ${OUTBOX}/
mv *.${ALGO} ${OUTBOX}/
chown -R {{ admin_username }}:{{ admin_username }} ${OUTBOX}

LFTP="open -u {{ backup_onsite_account | mandatory }}, {{ backup_onsite_protocol | mandatory }}://{{ backup_onsite_service | mandatory }};"
REMOTE_DIR="`date -u +"%Y-%m"`/`hostname`${JENKINS_HOME}/backups"

su - {{ admin_username }} -c\
 "lftp -c '${LFTP} mkdir -p ${REMOTE_DIR}' > /dev/null 2>&1"
nice -n 19 su - {{ admin_username }} -c\
 "lftp -c '${LFTP} mirror --Remove-source-files -R ${OUTBOX} ${REMOTE_DIR}'"

exit 0