# file: hdb.ldif
#
dn: olcDatabase={2}hdb,cn=config
objectClass: olcDatabaseConfig
objectClass: olcHdbConfig
olcDatabase: {2}hdb
olcDbDirectory: /var/lib/ldap
olcSuffix: {{ ldap_olc_suffix | mandatory }}
olcRootDN: {{ ldap_root_dn | mandatory }}
olcRootPW: {{ ldap_root_password | mandatory }}
olcDbConfig: set_cachesize 0 268435456 1
olcDbConfig: set_lg_regionmax 262144
olcDbConfig: set_lg_bsize 2097152
olcDbConfig: set_lk_max_objects 2000
olcDbConfig: set_lk_max_locks 2000
olcDbConfig: set_lk_max_lockers 2000
olcDbCheckpoint: 1024 10
olcDbIndex: objectClass eq,pres
olcDbIndex: ou,cn,mail,surname,givenname eq,pres,sub
olcAccess: to attrs=userPassword
  by self write
  by dn="{{ ldap_root_dn }}" write
  by anonymous auth
  by * none
olcAccess: to *
  by self write
  by dn.exact=gidNumber=0+uidNumber=0,cn=peercred,cn=external,cn=auth manage
  by dn="{{ ldap_root_dn }}" write
  by users read
  by * none

#
# Enable the unique module
#
dn: cn=module{0},cn=config
objectClass: olcModuleList
cn: module
olcModulePath: /usr/lib64/openldap
olcModuleLoad: unique

#
# Enable the memberof and refint modules
#
dn: cn=module{1},cn=config
objectClass: olcModuleList
cn: module
olcModulePath: /usr/lib64/openldap
olcModuleLoad: memberof
olcModuleLoad: refint

#
# Unique overlay
#
dn: olcOverlay={0}unique,olcDatabase={2}hdb,cn=config
objectClass: olcOverlayConfig
objectClass: olcUniqueConfig
olcOverlay: {0}unique
olcUniqueBase: {{ ldap_olc_suffix | mandatory }}
olcUniqueAttribute: mail

#
# Reverse group membership maintenance overlay
#  
dn: olcOverlay={1}memberof,olcDatabase={2}hdb,cn=config
objectClass: olcConfig
objectClass: olcMemberOf
objectClass: olcOverlayConfig
olcOverlay: {1}memberof
olcMemberOfRefInt: TRUE
olcMemberOfGroupOC: groupOfNames
olcMemberOfMemberAD: member
olcMemberOfMemberOfAD: memberOf

#
# Referential integrity overlay to maintain group memberships on object renames
#
dn: olcOverlay={2}refint,olcDatabase={2}hdb,cn=config
objectClass: olcConfig
objectClass: olcOverlayConfig
objectClass: olcRefintConfig
olcOverlay: {2}refint
olcRefintAttribute: memberOf member manager owner seeAlso roleOccupant
