# file: tls.ldif
#
dn: cn=config
changetype: modify
replace: olcTLSCACertificateFile
olcTLSCACertificateFile: {{ tls_certificate_chain_file | mandatory }}
-
replace: olcTLSCACertificatePath
olcTLSCACertificatePath: /etc/openldap/tls
-
replace: olcTLSCertificateFile
olcTLSCertificateFile: {{ tls_certificate_file | mandatory }}
-
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: {{ tls_certificate_key_file | mandatory }}
-
replace: olcTLSCipherSuite
olcTLSCipherSuite: {{ ldap_tls_cipher_suite | mandatory }}
