{# file: roles/https_virtual_proxies/templates/vhost.conf.j2
#}
#
# {{ item.desc }}
#
# All name-based SSL virtual hosts get their SSL configuration
# from whichever of them is loaded first.
# We don't know in which order the SSL virtual hosts get loaded,
# so every one of them must contain the same SSL configuration.

<VirtualHost {{ public_ipv4_address }}:80>
  ServerName "{{ item.fqdn }}:80"
  # We use permanent redirect status 301 (see HSTS includeSubDomains below)
  Redirect permanent / https://{{ item.fqdn }}/
</VirtualHost>

<VirtualHost {{ public_ipv4_address }}:443>

ServerName {{ item.fqdn }}:443

{% if websites is defined and item.fqdn in websites %}
DocumentRoot "/var/www/{{ item.fqdn }}/htdocs"
<Directory "/var/www/{{ item.fqdn }}/htdocs">
    Options None
    AllowOverride All
    Require all granted
</Directory>
{% endif %}

{% if item.proxies is defined %}
ProxyRequests Off
ProxyVia Off
ProxyPreserveHost On
AllowEncodedSlashes NoDecode

RequestHeader set X-Forwarded-Proto "https"
RequestHeader set X-Forwarded-Port "443"
RemoteIPHeader X-Forwarded-For

{% for proxy in item.proxies %}

#
# Proxy: https://{{ item.fqdn }}/{{ proxy.context }}
# Backend: http://{{ proxy.backend_host }}/{{ proxy.backend_context }}
#
{% if proxy.exclude_locations is defined %}
{% for location in proxy.exclude_locations %}
<Location "{{ location }}">
    ProxyPass !
</Location>
{% endfor %}

{% endif %}
{% if proxy.exclude_patterns is defined %}
{% for pattern in proxy.exclude_patterns %}
<LocationMatch "{{ pattern }}">
    ProxyPass !
</LocationMatch>
{% endfor %}

{% endif %}
ProxyPass /{{ proxy.context }} http://{{ proxy.backend_host }}/{{ proxy.backend_context }} nocanon
ProxyPassReverse /{{ proxy.context }} http://{{ proxy.backend_host }}/{{ proxy.backend_context }}
ProxyPassReverse /{{ proxy.context }} http://{{ item.fqdn }}/{{ proxy.backend_context }}
ProxyPassReverseCookieDomain {{ proxy.backend_host }} {{ item.fqdn }}
{% if proxy.backend_context != proxy.context %}
ProxyPassReverseCookiePath /{{ proxy.backend_context }} /{{ proxy.context }}
{% endif %}
{% if proxy.directives is defined %}
<Location "/{{ proxy.context }}">
{% for directive in proxy.directives %}
    {{ directive }}
{% endfor %}
</Location>
{% endif %}
{% endfor %}
{% endif %}

{% if item.compression | default(True) %}
SetOutputFilter DEFLATE
{% endif %}

ErrorLog logs/{{ item.fqdn }}_ssl_error_log
TransferLog logs/{{ item.fqdn }}_ssl_access_log
LogLevel warn

CustomLog logs/{{ item.fqdn }}_ssl_request_log \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

# https://wiki.mozilla.org/Security/Server_Side_TLS
# https://raymii.org/s/tutorials/Strong_SSL_Security_On_Apache2.html

SSLEngine on
SSLCertificateFile    {{ tls_certificate_file }}
SSLCertificateKeyFile {{ tls_certificate_key_file }}
{% if tls_certificate_chain_file is defined %}
SSLCertificateChainFile {{ tls_certificate_chain_file }}
{% endif %}

SSLProtocol        {{ ([''] + tls_protocols | list) | join(' +') +
                    ([''] + tls_protocol_excludes | list) | join(' -') }}
SSLCipherSuite      {{ tls_ciphersuite | list | join(':') +
                    ([''] + tls_ciphersuite_excludes | list) | join(':!') }}
SSLHonorCipherOrder on
SSLCompression      off

# HSTS
# https://www.owasp.org/index.php/HTTP_Strict_Transport_Security
Header always set Strict-Transport-Security "max-age={{ tls_hsts_max_age
                                             }}; includeSubDomains; preload"

# https://www.owasp.org/index.php/List_of_useful_HTTP_headers
Header always set X-Content-Type-Options nosniff
Header always set X-Frame-Options SAMEORIGIN
Header always set X-XSS-Protection "1; mode=block"
Header set Content-Security-Policy "default-src https:; connect-src https:; font-src https: data:; frame-src https:; img-src https: data:; media-src https:; object-src https:; script-src 'unsafe-inline' 'unsafe-eval' about: https:; style-src 'unsafe-inline' https:;"

<Files ~ "\.(cgi|shtml|phtml|php3?)$">
    SSLOptions +StdEnvVars
</Files>
<Directory "/var/www/cgi-bin">
    SSLOptions +StdEnvVars
</Directory>

</VirtualHost>
