[Unit]
Description=backup client schedule

[Timer]
OnCalendar={{ backup_client_timer_on_calendar }}
{% if ansible_os_family == "RedHat" and ansible_distribution_version is version('7.3', '>=') %}
RandomizedDelaySec=2 h 30 min
{% endif %}
Unit=backup_client.service

[Install]
WantedBy=timers.target
