{# file: roles/jenkins_ci/templates/jenkins.model.JenkinsLocationConfiguration.xml.j2
#}
<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>Jenkins &lt;{{ jenkins_system_email | mandatory }}&gt;</adminAddress>
  <jenkinsUrl>https://{{ public_hostname }}/</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>
